:root {
  --fgreen: #036b52;
  --cgreen: #2fc18c;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'digital-7';
    src: url('../fonts/digital-7.regular.ttf');
  }

body {
  font-family: 'digital-7', sans-serif, Verdana, sans-serif;
}

h1 {
  background-color: var(--fgreen);
  color: #fff;
  height: 50px;
  padding-top: 10px;
  border-bottom: 7px solid var(--cgreen);
}

a {
  color: var(--cgreen);
}

.stopwatch {
  text-align: center;
  background-color: #fff;
  font-size: 22px;
}

#progress {
  margin: 10px auto;
  width: 498px;
  height: 498px;
  border: 1px solid var(--fgreen);
  text-align: center;
  background: url("system-img/logo_trybe.png"), white;
  background-repeat: no-repeat;
  background-position: bottom;
}

#title-container {
  position: relative;
  background-color: var(--cgreen);
  border-radius: 5%;
  overflow: hidden;
  margin: 10px auto;
  width: 500px;
  height: 18px;
}

#title-container h4 {
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 12px;
  position: absolute;
	width: 100%;
  height: 16px;
  padding: 2px;
  transform: translateX(100%);
	animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

#progressBar {
  width: 100%;
  height: 100%;
}

.allButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  background-color: var(--cgreen);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  margin: 20px 15px 10px 0;
  font-weight: 600;
  border-style: none;
  width: 60px;
  height: 40px;
	cursor: pointer;

  border-color: var(--fgreen);
  background-image: -webkit-linear-gradient(45deg, var(--fgreen) 50%, transparent 50%);
  background-image: linear-gradient(45deg, var(--fgreen) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.buttons:hover {
  background-position: 0;
}

.display {
  font-family: 'Roboto', Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--fgreen);
  width: 223px;
  font-size: 4em;
  line-height: 80px;
}

.display-section {
  background-color: #eaecf1;
}

.plusTime, .lessTime {
  padding: 0 4px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.plusmins {
  background: none;
  border-style: none;
  height: 30px;
	cursor: pointer;
}

.plussecs {
  background: none;
  border-style: none;
  height: 30px;
	cursor: pointer;
}

.plusmins img, .plussecs img {
  width: 49px;
  height: 30px;
  filter: sepia(80%) saturate(2000%) hue-rotate(150deg) brightness(80%)
}

.soundIcons {
  display: flex;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  border: 1px solid var(--fgreen);
  border-radius: 5px;
  background-color: #fff;
  padding: 0 5px;
  height: 38px;
}

.footer , .footer a {
  font-family: 'Roboto', Verdana, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 10px;
  text-decoration: none;
}
